{% extends "layout.html.twig" %} {% set biereMenu = true %} {% block title %}Bières{% endblock %} {% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
        </thead>
        <div class="well">
            <form class="form-horizontal" role="form" action="/biere/resultats/" method="post">
                <div class="form-group">
                    <div class="col-lg-6 col-md-7 col-sm-5 col-xs-12">
                        <h2>
					{{ biere.libelle }}<br/>
					
				</h2>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-5">
                        <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-search"></span> Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
        {% endblock %}